= form_for task, html: { id: 'add', class: 'task' } do |f| 
  .info-block.btn
    = f.check_box :done, class: "done"

    - unless task.id.nil?
      span.matter = task.matter
      = f.text_field(:matter, style: "display: none", placeholder: "Enter task matter...")
    - else
      = f.text_field(:matter, placeholder: "Enter task matter...")

    .tray
      span.date
        = f.text_field :date, class: 'datepicker', id: "task_date_#{task.id}"
        span.inner
          - unless task.date.nil?
            = task.date.strftime("%y.%m.%d; %H:%M")
          - else
            i.icon-calendar

      = f.check_box :priority, class: "priority"
      i.icon-chevron-down
      = link_to task, method: :delete, data: { confirm: 'Are you sure?' } do
        i.icon-remove

  .additional
    .row
      .span9
        = f.text_area :description, rows:"", cols:"", placeholder: "Task description..."
    .row
      .span9
      
        = f.select :case_id, Case.all.collect{ |c| [ c.title, c.id ] }, { :include_blank => true, placeholder: "Case..." }
        = f.select :assignee_id, User.all.collect{ |u| [ "#{u.first_name} #{u.last_name}", u.id ] }, { :include_blank => true, placeholder: "Assignee..." }
    .row
      .span9
        ul.contacts
          - task.contacts.each do |contact| 
            li = "#{contact.name} #{contact.last_name}"

