= form_for @case, :html => { :class => 'case', :multipart => true } do |f|
  - if @case.errors.any?
    #error_explanation
      h2
        = pluralize(@case.errors.count, "error")
        | prohibited this case from being saved:
      ul
        - @case.errors.full_messages.each do |msg|
          li = msg

  .control-group
    = f.label :title, :class => 'control-label'
    div class="controls"
      = f.text_field :title

  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :rows => 5

  .control-group
    = f.label :status, :class => 'control-label'
    .controls
      = f.select :status, Case::STATUSES

  .control-group
    = f.label :image, :class => 'control-label'
    .controls
      = f.file_field :image

  .control-group
    = f.label 'or image URL', :class => 'control-label'
    div class="controls"
      = f.text_field :remote_image_url

  .control-group
    = f.label 'Связанные контакты', :class => 'control-label'
    .controls
      ul#business_contacts
        - @case.contacts.each do |contact| 
          li
            = contact.name + ' ' + contact.last_name

  .actions
    = f.submit

  = javascript_include_tag "tag-it"

  erb:
    <script>
      $(document).ready(function() {
        var contacts = [<%== @persons %>];
        $('#business_contacts').tagit({
          placeholderText: 'Enter contacts',
          allowSpaces: true,
          availableTags: contacts,
          singleField: true,
          removeConfirmation: true,
          beforeTagAdded: function(event, ui) {
            if (contacts.indexOf(ui.tagLabel) > -1) {
              console.log('true');
              return true;
            } else {
              console.log(ui.tagLabel)
              return false;
            };
          },

        });
        $('form.case').submit(function () {
            $('form.case input#tag_list').val(
                $('#busines_contacts').assignedTags()
            );
            return true;
            $('form.case .btn.btn-primary').attr("disabled", "disabled");
        });
      });
    </script>