div class="hero-unit"
  h1
  	= @case.title
  	|  
  	small
  		= link_to edit_case_path(@case) do
  			i.icon-pencil
  p = @case.description
  p = @case.status

  = image_tag @case.image.small
.add-task
	= render @task
= render @tasks
