= javascript_include_tag 'home'

.add-task
  = render @task
- @assigned_tasks.each do |assigned_to_case, tasks|
  h2 = assigned_to_case.title
  = render tasks

= javascript_include_tag 'jquery-ui-timepicker-addon'
= javascript_include_tag 'tag-it'

erb:
  <script>
    $(document).ready(function() {
      var contacts = <%== Contact.all.map{ |c| "#{c.name} #{c.last_name}"} %>;
      $('.contacts').tagit({
        placeholderText: 'Enter contacts',
        allowSpaces: true,
        availableTags: contacts,
        singleField: true,
        removeConfirmation: true,
        beforeTagAdded: function(event, ui) {
          if (contacts.indexOf(ui.tagLabel) > -1) {
            console.log('true');
            return true;
          } else {
            console.log(ui.tagLabel)
            return false;
          };
        },
        fieldName: 'contacts'
      });
    });
  </script>
