.row.contact
  .row-fluid.visible
    .span1.social
      = image_tag contact.photo.small, class: "photo"
      - unless contact.entries.links.empty?
        div
          - contact.entries.links.each do |entry| 
            = link_to entry.entry, class: "social-network", target: "_blank" do
              = entry_icon_for entry
    .span6.info
      h3 = "#{contact.name} #{contact.last_name}"
      div
        - if contact.company != '' and contact.position != ''
          = "#{contact.company}, #{contact.position}"
        - else
          = "#{contact.company}#{contact.position}"
      .tag-line
        - unless contact.tags.empty?
          i.icon-tags
          |  
          == contact.tags.map { |tag| link_to tag.name, tag_contacts_path(tag.name) }.join ', '
      - if contact.info != ''
        .info = contact.info

    .span4.contact-entries
      - contact.entries.not_links.each_with_index do |entry, i| 
        = content_tag :div, class: "entry-#{i}" do
          .ico = entry_icon_for entry
          .cnt-line 
            p = "#{entry.entry}"
            p.comment = "#{entry.comment}"

    .controls
      i.icon-chevron-down.vis
      i.icon-chevron-up.hid
      = link_to contact, method: :delete, data: { confirm: 'Are you sure?' } do
        i.icon-remove.hid.blue
      i.icon-edit.hid.blue
  = render 'form', contact: contact
