= nested_form_for contact, html: { class: 'with_tags hidden' } do |f| 
  .row.form
    .span1.social
      = image_tag contact.photo? ? contact.photo.small : asset_path('small_default_photo.png')
      .upload-img
        i.icon-upload
        = f.file_field :photo, class: 'filefield'

    .span5.info
      .controls-row
        = f.text_field :name, placeholder: 'Имя'
        = f.text_field :last_name, placeholder: 'Фамилия'
      .controls-row
        = f.text_field :company, placeholder: 'Компания'
        = f.text_field :position, placeholder: 'Должность'
      .controls-row
        = f.text_area :info, placeholder: 'Дополнительная информация', rows: '5'
      .controls-row
        ul.tags
          - contact.tags.each do |tag| 
            li = tag.name

    .span3.contact-entries
      = f.fields_for :entries do |entry| 
        .controls-row
          .input-prepend
            span.add-on
              = entry.select :entry_type, ContactEntry::TYPES
            = entry.text_field :entry, placeholder: 'Контактная запись'
          = entry.link_to_remove do
            i.icon-remove
        .controls-row
          = entry.text_field :comment, class: 'comment', placeholder: 'Комментарий'
          span.help-block
            | Например:
            a.phone-type рабочий
            | ,
            a.phone-type домашний
            | ,
            a.phone-type мобильный
      .add-entry
        = f.link_to_add :entries, class: 'btn btn-small btn-block' do
          i.icon-plus
          |  Добавить запись
  .row
    .span8.offset1.actions
      = f.submit contact.id? ? 'Сохранить контакт' : 'Добавить контакт', class: 'btn btn-primary'
      button.btn.cancel type='button' Отмена
