= javascript_include_tag 'nested_form'
= javascript_include_tag 'tag-it'
= javascript_include_tag 'contacts'
= javascript_include_tag 'load-image.min'

.clearfix
  - if notice
    p.text-info
      = notice

  - if @contact.errors.any?
    ul
      - @contact.errors.full_messages.each do |msg| 
        li.text-error = msg

#add.row.contact
  .row.visible
    .span1.social 
      = image_tag asset_path('plus.png')
    .span4.info
      h3 Добавить контакт  
  = render 'form', contact: @contact
  
= render @contacts

erb:
  <script>
    $(document).ready(function() {
      var tags = [<%= @tags %>]
      $('.tags').tagit({
        placeholderText: 'Тэги',
        allowSpaces: true,
        availableTags: tags,
        singleField: true,
        removeConfirmation: true,
        showAutocompleteOnFocus: true
      });
      $('form.with_tags').submit(function() {
        $('input[type="submit"]').attr("disabled", "disabled");
      });
    });
  </script>
