$background_url: '/assets/light_alu.png'
body
  -moz-user-select: -moz-none
  -o-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none
  .user-text-select
    -moz-user-select: auto
    -o-user-select: auto
    -khtml-user-select: auto
    -webkit-user-select: auto
    user-select: auto
    text-decoration: none

  background-image: url($background_url) !important
  padding-top: 40px
  .navbar.navbar-fixed-top
    margin-bottom: 0
  .content
    padding: 20px
    background-color: white
    box-shadow: 0 8px 30px -8px rgba(100, 100, 100, 0.8)
    min-height: 60%
    & > .row
      margin-left: 0
      & > [class*="span"]
        margin-left: 0
        &.span3
          @media (max-width: 767px)
            border-bottom: solid 1px #ccc
          .nav.nav-list
            padding-left: 0
            padding-right: 20px
            .to-case
              white-space: nowrap
              display: block
              overflow: hidden
              text-overflow: ellipsis
              float: left
              @media (max-width: 767px)
                display: inline-block
                height: 64px
                width: 200px
              div
                display: inline-block
                margin: 3px 10px 3px 0
                width: 50px
                height: 50px
                text-align: center
                line-height: 50px
                @media (max-width: 767px)
                  margin: 0 10px 0 10px
                img
                  max-height: 100%
                  max-width: 100%
                  width: auto
                  height: auto
        &.span9
          width: 680px
          @media (min-width: 1200px)
            width: 860px
          @media (max-width: 979px) and (min-width: 768px)
            width: 518px
          @media (max-width: 767px)
            width: 100%

a:hover
  text-decoration: none !important

.right
  float: right !important
.left
  float: left !important

.fields
  display: table