// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact
  padding: 10px
  .social
    width: 58px
    img.photo
      background-color: #FBFBFB
      max-width: 100%
      height: auto
      display: block
    div
      margin-left: -5px
      display: none
      .social-network
        img
          max-height: 16px
          
  .visible
    position: relative
    .controls
      width: 0px
      position: absolute
      top: 0px
      right: 15px
      i.vis
        display: block
        cursor: pointer
      i.hid
        display: none
      i.blue
        color: #08C
        &:hover
          color: #005580

    .info
      @media (max-width: 767px)
        margin: 20px 0
      h3
        font-weight: normal
        margin: 0
        line-height: 25px
      div
        color: #888
        line-height: 21px
        &.info
          display: none
        &.tag-line
          margin-top: -1px
          font-size: 13px
          i
            color: #666
          a
            text-decoration: none
            color: #888
            border-bottom: 1px dashed #888
            &:hover
              color: #666
              border-bottom: 1px dashed #666

    .contact-entries
      @for $i from 0 through 2
        .entry-#{$i}
          display: block !important
      & > div
        display: none
        margin-bottom: 5px
        white-space: nowrap
        div
          white-space: normal
          display: inline-block
        .ico
          width: 22px
          text-align: center
          vertical-align: top
          img
            max-width: 16px
            max-height: 16px          
            vertical-align: top
        .cnt-line
          p 
            margin: 0 0 0 5px
            float: left
            line-height: 15px
            &.comment
              color: #888


  &#add .info h3
    line-height: 58px

    // Opend contact!!!

  &.full-contact
    background-color: #fafafa
    .visible
      .social
        div
          padding-top: 10px
          display: block !important
          a.social-network
            display: inline !important
            line-height: normal
            margin-left: 5px

      .info
        div.info
          display: block !important

      .contact-entries > div
        display: block !important

      .controls
        i.vis
          display: none !important
        i.hid
          display: block !important
          cursor: pointer


    // Edit contact mode!!!

  form
    margin: 0
    .actions
      margin-top: 30px
      .btn
        margin-right: 10px

    .form
      .social
        position: relative
        overflow: hidden
        .upload-img
          position: absolute
          top: 100%
          left: 0
          margin: 0
          width: 100%
          height: 100%
          display: block
          background: rgba(0,0,0,0.5)
          -webkit-transition: top 0.5s ease
          -moz-transition: top 0.5s ease
          -o-transition: top 0.5s ease
          -khtml-transition: top 0.5s ease
          -webkit-transition: top 0.5s ease
          .filefield
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            opacity: 0
          i
            position: absolute
            top: 50%
            margin-top: -9px
            left: 50%
            margin-left: -9px
            color: #fff
            font-size: 20px
        &:hover .upload-img
          top: 0%
      .info, .contact-entries
        .error
          input, textarea
            border-color: #b94a48
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      .info
        @media (min-width: 1200px)
          width: 450px
        input
          &#contact_name, &#contact_company
            width: 170px
            margin-right: 10px
          &#contact_last_name, &#contact_position
            width: 242px
        textarea#contact_info
          width: 435px
          resize: none
        .controls-row
          width: 450px  
    .contact-entries
      @media (max-width:1199px) and (min-width:768px)
        margin-left: 100px
      .add-entry
        width: 285px
      .controls-row
        width: 300px
        .input-prepend
          display: inline
          margin-bottom: 10px
          span.add-on
            padding-right: 0
            select
              border: none
              height: 20px
              width: 71px
              background: none
              padding: 0
              margin: 0
              &:focus, &:hover, &:active
                outline: none
          input[type='text']
            width: 193px
        a
          margin-left: 5px
        input[type='text']
          margin-bottom: 8px
          width: 270px
        span.help-block
          font-size: 12px
          line-height: 12px
          a.phone-type
            cursor: pointer
