// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.task
  margin: 0
  .info-block
    display: block
    cursor: auto
    margin-bottom: 13px
    text-align: left
    input[type='checkbox']
      margin: 0 6px 2px 0
    input[id*='matter']
      margin: 0
    .matter
      line-height: 30px
      padding-left: 6px
    .tray
      line-height: 30px
      float: right
      position: relative
      &>*
        margin-right: 6px
        cursor: pointer
      a
        margin: 0
      .datepicker
        visibility: hidden
        margin: 0
        padding: 0
        height: 0
        width: 0
        position: absolute
        bottom: 0
        right: 320px
  // fix styles for .info-block pseudoclasses
  &:hover, &:active
    display: inline-block
    *display: inline
    *zoom: 1
    *display: inline
    *zoom: 1
    padding: 4px 12px
    margin-bottom: 0
    font-size: 14px
    line-height: 20px
    *line-height: 20px
    text-align: center
    vertical-align: middle
    cursor: pointer
    color: #333333
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
    background-color: #f5f5f5
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
    background-color: #f5f5f5
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
    border-color: #e6e6e6 #e6e6e6 #bfbfbf
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    color: #333333
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
    background-color: #f5f5f5
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
    background-color: #f5f5f5
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
    border-color: #e6e6e6 #e6e6e6 #bfbfbf
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    *background-color: #e6e6e6
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
    color: #333333
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
    background-color: #f5f5f5
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
    background-color: #f5f5f5
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
    border-color: #e6e6e6 #e6e6e6 #bfbfbf
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    color: #333333
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
    background-color: #f5f5f5
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
    background-color: #f5f5f5
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
    border-color: #e6e6e6 #e6e6e6 #bfbfbf
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    *background-color: #e6e6e6

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
    border: 1px solid #bbbbbb
    *border: 0
    -webkit-border-radius: 4px
    border-bottom-color: #a2a2a2
    -moz-border-radius: 4px
    border-radius: 4px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    *margin-left: .3em
    *margin-left: .3em
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
  .additional
    display: none
    margin: 0 auto
    width: 80%
    ul
      width: 100%