//@import "compass/css3"

// Стили для всплывающего модального окна "Add Case"
.loop-light
  max-width: 555px
//  Хедер попапа
.our-header
  h3
    margin-left: 15px

//  Тело попапа
.body-message
  margin-left: 11px
  margin-top: 11px
  overflow-y: visible
  .project-info
    width: 503px
    .main-info
      display: inline-block
      float: left
      width: 370px
  .control-group
    display: inline-block
    input, textarea, select
      width: 350px
      margin-bottom: 5px
      padding: 4px 26px 4px 6px
      border-width: 1px
    input
      height: 19px
    textarea
      height: 37px
    select
      width: auto
      padding: 4px 6px
  .label-block, .select-block, .contacts-block
    display: inline-block
    float: left
  .label-block
    width: 95px
    margin-right: 24px
  .contacts-block
    width: 370px
  .with-help
    width: 370px
    position: relative
    .tooltip
      white-space: nowrap
      +opacity(1)
    .tooltip-inner
      max-width: none
      width: auto

//  Блок с подменяющимся инпутом для загрузки
.upload-image
  display: inline-block
  position: relative
  width: 98px
  height: 98px
  overflow: hidden
  margin-right: 20px
  float: left
  input[type="text"]
    width: 80px
    height: 80px
  .upload-logo
    position: absolute
    top: 5px
    left: 7px
    height: 80px
    width: 80px
  .decorated-file
    position: absolute
    display: block
    top: 0
    left: -206px
    height: 88px
    width: 300px
    cursor: pointer
    +opacity(0)
  .canvasLoader
    display: none
    position: absolute
    left: 20px
    top: 39px
    canvas
      background: url("/assets/ajax-loader.gif") no-repeat 0 0

//Блок с вопросом для подсказки
.title-help
  background: none repeat scroll 0 0 #0077cc
  border-radius: 18px 18px 18px 18px
  color: #fff
  cursor: pointer
  font-family: "Georgia","Times",Serif
  font-size: 12px
  font-weight: bold
  line-height: 11px
  padding: 3px 6px
  position: absolute
  right: -10px
  text-align: center
  top: 4px

//  Футер попапа
.popup-footer
  input
    height: 30px
    margin-right: 12px
  button
    margin-right: 20px

//  Для отстпупа от края блока
.margin-left-0
  margin-left: 0



