
/* Optional scoped theme for tag-it which mimics the zendesk widget. */

ul.tagit {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);    
    transition: border linear 0.2s, box-shadow linear 0.2s;
    vertical-align: middle;
    cursor: text;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: -webkit-auto;
    min-height: 28px;

    &:focus {
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0;
        outline: thin dotted 9;
    }

    .remove-tag {
        cursor: pointer;
        font-size: 10px;
    }

    li.tagit-choice {
        padding: 1px 6px;
        font-size: 10.5px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-border-radius: 3px;

        color: white;
        font-weight: normal;
        margin-bottom: 0;
        display: inline-block;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        cursor: default;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #49AFCD;
        background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
        background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
        background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
        background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
        background-repeat: repeat-x;
        border-color: #2F96B4 #2F96B4 #1F6377;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

        &:hover {
            color: white;
            background-color: #2F96B4;
        }

        &:active {
            color: white;
            background-color: #2F96B4;
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        }

        a.tagit-close {
            text-decoration: none;

            .text-icon:hover {
                color: #222;
            }
        }

        .tagit-close {
            right: .4em;

            .text-icon {
                display: inline;
                font-family: arial, sans-serif;
                font-size: 16px;
                line-height: 16px;
                color: #777;
            }
        }

        .ui-icon {
            display: none;
        }

        a.tagLabel:hover {
            color: #222;
        }


    }

    li.tagit-choice.remove {
        background-color: #bbcef1;
        border-color: #6d95e0;
    }

    input[type="text"] {
        border: none;
        box-shadow:none;
        background: none;

        &:focus {
            border: none;
            box-shadow: none;
            transition: none;
        }
    }
}
