.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar data-target=".nav-collapse" data-toggle="collapse"
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand href="/" Zадачник
			.container.nav-collapse
				ul.nav
					- if user_signed_in?
						= content_tag(:li, link_to('Контакты', contacts_path) , class: (:active if controller_name == 'contacts'))
				ul.nav.right
					- if user_signed_in?
						li = link_to "Send invite", :new_user_invitation
						li = link_to "Profile", :edit_user_registration
						li = link_to "Sign out", :destroy_user_session, :method => :delete
					- else
						li = link_to "Sign in", :new_user_session
