meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1.0"
= csrf_meta_tags
= stylesheet_link_tag "application", :media => "all"
= favicon_link_tag '/favicon.ico'
link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css"
	
= javascript_include_tag "application"
= yield(:scripts)

/ <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
/ <!--[if lt IE 9]>
/ <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
/ <![endif]-->


/ <!--<link href="images/favicon.ico" rel="shortcut icon">-->
/ <!--<link href="images/apple-touch-icon.png" rel="apple-touch-icon">-->
/ <!--<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">-->
/ <!--<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">-->