ul.nav.nav-list
	- @cases.each do |c| 
		= link_to c, class:"to-case" do
			div
				= image_tag c.image.thumb
			= c.title
	= link_to "#add-case", :data => { :'toggle' => 'modal' }, class:"to-case plus" do
		div
			img src="/assets/plus.png"
		| Add case

    /
    / Всплывающее модальное окно
    /
    form
        .modal.hide.fade.loop-light#add-case tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true"
            .modal-header.our-header
                button.close type="button" data-dismiss="modal" aria-hidden="true" ×
                h3#newModalLabel Новый проект
            .modal-body.body-message

                .project-info
                    / Загрузка изображения
                    .upload-image
                        input type="text" value=""
                        .upload-logo
                            /TODO: Если не загружена картинка, выводить умолчание, если загружена- картинку
                            img src="/assets/case_icon.png"
                            / Как-то так: = image_tag @user.user_avatar_url if @user.user_avatar?
                        .canvasLoader#canvasLoader style=""
                            canvas
                        input.decorated-file type="file"

                    .main-info
                        / Title
                        .control-group.with-help
                            input type="text" placeholder="Введите название"
                            span.title-help.preview title="Дайте название вашему проекту" ?

                        / Description
                        .control-group.with-help
                            textarea#comments placeholder="Дайте описание"
                            span.title-help.preview title="Дайте описание проекта, его цели, предполагаемые сроки реализации" ?

                / Status
                .control-group
                    label.label-block Статус
                    .select-block
                        select
                            option В процессе
                            option Выиграно
                            option Проиграно

                / Contacts
                .control-group
                    label.label-block Связанные контакты
                    .contacts-block
                        /Должен быть на инпут, а список
                        input type="text" placeholder="Добавьте контакты"

            .modal-footer.popup-footer
                button.btn data-dismiss="modal" aria-hidden="true" Отмена
                input.btn.btn-primary type="submit" value="Создать проект"