<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= content_for?(:title) ? yield(:title) : "Zадачник" %></title>
	<%= render "layouts/meta" %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
	<div class="content">
		<div class="row">
			<div class="span3">
				<% if user_signed_in? %>
					<%= render "layouts/sidebar" %>
				<% end -%>
			</div>
			<div class="span9">
				<%= yield %>
				
			</div>

		</div>
	</div>

	<%= render "layouts/footer" %>

</div>

</body>
</html>
